[loggers]
keys=root,testlog1, testlog2,rename

[handlers]
keys=fileHandler,consoleHandler

[formatters]
keys=defaultFormatter

[logger_root]
handlers=fileHandler

[logger_rename]
handlers=fileHandler
level=INFO
qualname=rename
propaget=0

[logger_testlog1]
handlers=fileHandler
level=INFO
qualname=testlog1
propaget=0

;typo here
[logger_testlog2]
handlers=fileHandler
level=INFO
qualname=testlog2
;qualname=core
propagate=0

[handler_fileHandler]
class=logging.FileHandler
formatter=defaultFormatter
;args=(filename='test0303',filemode='a')
args=('log/20230422.log','a')

[handler_consoleHandler]
class=logging.StreamHandler
formatter=defaultFormatter
args=(sys.stdout,)

[formatter_defaultFormatter]
format=%(levelname)s %(asctime)s %(filename)s %(process)d - %(message)s


